.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: blueviolet;
  background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=900&t=st=1705131089~exp=1705131689~hmac=28856f1417662718b0f4ca0ba3c713d99888ae8392afcf1004bbe22168ce6921") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.login_text {
  color: white;
}
.form {
  background-color: transparent;
  padding: 4vw;
  border-radius: 3vw;
  box-shadow: 1px 0.5px 4px white;
}
.input {
  width: 25vw;
}
.item label {
  width: 8vw;
  color: white !important;
}

.link_text {
  color: white;
  text-decoration: none;
}
.button-div {
  display: flex;
  align-items: center;
  justify-content: right;
}
